<main>
    <section>
        {{> title data=name big=true}}
        
        {{#each users}}
            <div><h3>{{id}}. {{name}}, {{gender}}, {{age}} years</h3></div>
            <div><h4>friends:</h4></div>
            <ul>
                {{#each friends}}
                    <div>{{id}}. {{name}}, {{gender}}, {{age}} years</div>
                    <div><b>mutual friends:</b></div>
                    <ul>
                        {{#each mutual_friends}}
                            <div>{{id}}. {{name}}, {{gender}}, {{age}} years</div>
                            {{#if mutual_friends}}
                                <div><b>mutual friends:</b></div>
                                <ul>
                                    {{#each mutual_friends}}
                                        <div>{{id}}. {{name}}, {{gender}}, {{age}} years</div>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        {{/each}}
                    </ul>
                    {{!-- <br> --}}
                    <div class="mb-3"></div>


                    {{#if groups}}
                    <div><h4>groups:</h4></div>
                    <ul>
                        {{#each groups}}
                            <div><b>{{id}}. {{name}}</b></div>
                            <div><em>{{description}}</em></div>
                            <div><b>members:</b></div>
                            <ul>
                                {{#each members}}
                                    <div>{{id}}. {{name}}, {{gender}}, {{age}} years</div>
                                {{/each}}
                            </ul>
                            {{!-- <br> --}}
                            <div class="mb-3"></div>
                        {{/each}}
                    </ul>
                    {{/if}}
                {{/each}}
            </ul>

            {{#if groups}}
            <div><h4>groups:</h4></div>
            <ul>
                {{#each groups}}
                    <div><b>{{id}}. {{name}}</b></div>
                    <div><em>{{description}}</em></div>
                    <div><b>members:</b></div>
                    <ul>
                        {{#each members}}
                            <div>{{id}}. {{name}}, {{gender}}, {{age}} years</div>
                        {{/each}}
                    </ul>
                    {{!-- <br> --}}
                    <div class="mb-3"></div>
                {{/each}}
            </ul>
            {{/if}}

        {{/each}}

    </section>
</main>
