<main>
    {{#with program.excursion}}
        <section>
            {{> title data=name big=true}}
            <div><h3>{{location.city}}, {{location.country}} <mark>{{date}}</mark></h3></div>
            <br>
            {{> title data="Program:"}}
            <ul>
                {{#each program}}
                    <li>
                        <div><b><em>{{name}} ({{type}})</em></b> duration: <b>{{duration}}</b> hours</div>

                        {{#if details.museum}}
                            {{#with details.museum}}
                                <b>{{name}}</b> <address>{{location.address}}, {{location.city}}, {{location.country}}</address>
                                <b>Exhibits:</b>
                                <ul>
                                    {{#each exhibits}}
                                    <li>
                                        <div><b>{{name}}</b>, {{artist}} </div>
                                        <div><em>{{description}}</em> {{#if audio_guide}} (audio guide) {{/if}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                            {{/with}}
                        {{/if}}

                        {{#if details.venue}}
                            {{#with details.venue}}
                                <b>{{name}}</b> <address>{{location.address}}, {{location.city}}, {{location.country}}</address>
                            {{/with}}
                        {{/if}}
                        {{#if details.performers}}
                            <b>Performers:</b>
                            <ul>
                                {{#each details.performers}}
                                <li>
                                    <div><b>{{name}}</b>, {{type}} </div>
                                </li>
                                {{/each}}
                            </ul>
                        {{/if}}

                        <div><b>Guide: {{details.guide.name}} ({{details.guide.language}})</b> rating <mark>{{details.guide.rating}}</mark></div>
                        {{!-- <br> --}}
                        <div class="mb-3"></div>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/with}}
</main>


